<figure class="highcharts-figure">
    <div id="container" class="my-4 rounded-sm"></div>
</figure>

<script>

    Highcharts.chart('container', {
        chart: {
            type: 'spline',
            backgroundColor: '#1e2838', // fundo escuro
            style: {
                fontFamily: 'sans-serif'
            }
        },
        title: {
            text: 'Entradas e Saidas mensais',
            style: {
                color: '#d1d5dc'
            }
        },
        xAxis: {
            categories: [
                'Jan', 'Feb', 'Mar', 'Abr', 'Mai', 'Jun',
                'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Des'
            ],
            accessibility: {
                description: 'Messes do ano'
            },
            labels: {
                style: {
                    color: '#d1d5dc'
                }
            },
            lineColor: '#888'
        },
        yAxis: {
            title: {
                text: 'Quantidade',
                style: {
                    color: '#d1d5dc'
                }
            },
            labels: {
                format: '{value}',
                style: {
                    color: '#d1d5dc'
                }
            },
            gridLineColor: '#444'
        },
        tooltip: {
            backgroundColor: '#333333',
            borderColor: '#888',
            style: {
                color: '#FFFFFF'
            },
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            series: {
                label: {
                    enabled: false
                }
            },
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#FFFFFF',
                    lineWidth: 1
                }
            }
        },
        legend: {
            itemStyle: {
                color: '#FFFFFF'
            }
        },
        series: [{
            name: 'Vendas',
            color: "#13d172",
            marker: {
                symbol: 'square'
            },
            data: {{ venda }}

        }, {
            name: 'Compras',
            marker: {
                symbol: 'square'
            },
            data: {{ compra }}
    }]
});

</script>