<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block grafico %}
    {% endblock %}

    <!-- Flowbite -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título da página -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Ícone -->
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
</head>
<body class="bg-gray-100 text-gray-900">

    <!-- Navbar -->
    {% include "_nav.html" %}

    <!-- Conteúdo principal dentro do container centralizado -->
    <div class="pt-16 px-4">
        <div class="max-w-screen-xl mx-auto">
            {% block voltar %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
