{% extends "base.html" %}

{% block title %}Sistema de estoque WEB{% endblock title %}

{% block grafico %} 
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock  %}

{% block content %}

<!-- Histórico de compra e venda -->
<div class="grid grid-cols-2 gap-4">
    <div class="flex items-center rounded-sm bg-gray-800 h-28">
        <article class="font-[sans-serif] ml-4">
            <h1 class="text-2xl text-gray-300">Cadastro de ordem de Compra e Histórico</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="#" class="underline text-blue-400 hover:text-blue-500">Aqui</a> para ver histórico de compras</h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28">
        <article class="font-[sans-serif] ml-4">
            <h1 class="text-2xl text-gray-300">Cadastrar Ordem de Venda e Histórico</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="#" class="underline text-green-400 hover:text-green-500">Aqui</a> para ver todas as ordem de venda </h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28">
        <article class="font-[sans-serif] ml-4">
            <h1 class="text-2xl text-gray-300">Não sei o que fazer !!!!</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="" class="underline text-green-400 hover:text-green-500">Aqui</a> para ver todas as ordem de venda </h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28">
        <article class="font-[sans-serif] ml-4">
            <h1 class="text-2xl text-gray-300">Não sei o que fazer !!!!</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="" class="underline text-blue-400 hover:text-blue-500">Aqui</a> para ver todas as ordem de compras</h2>
        </article>
    </div>
</div>

<!-- Grid do Grafico UM -->
{% include "_graficoUm.html" %}

<!-- Minimos, Criticos, Zerados, Todos -->
<div class="grid grid-cols-2 gap-4 mb-4">
    <div class="flex items-center rounded-sm bg-gray-800 h-28 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Minimos</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique <a href="" class="underline text-yellow-400">Aqui</a> para ver todos os produtos minimos</h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Criticos</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="" class="underline text-red-400">Aqui</a> para ver todos os produtos críticos</h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Zerados</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique <a href="" class="underline text-gray-400">Aqui</a> para ver todos os produtos zerados</h2>
        </article>
    </div>
    <div class="flex items-center rounded-sm bg-gray-800 h-28 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Todos os produtos</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique  <a href="{% url 'produtos' %}" class="underline text-blue-400">Aqui</a> para ver todos os produtos</h2>
        </article>
    </div>
</div>

<!-- Grid do Grafico Dois -->

{% include "_graficoDois.html" %}

<!-- Total de venda e compra -->
<div class="grid grid-cols-3 gap-4 mb-4">
    <div class="flex items-center h-24 rounded-sm bg-gray-800 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Total de Vendas</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique <a href="" class="underline text-yellow-400">Aqui</a> para ver todos os produtos minimos</h2>
        </article>
    </div>
    <div class="flex items-center h-24 rounded-sm bg-gray-800 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Total de Compras</h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique <a href="" class="underline text-yellow-400">Aqui</a> para ver todos os produtos minimos</h2>
        </article>
    </div>
    <div class="flex items-center h-24 rounded-sm bg-gray-800 p-4">
        <article class="font-[sans-serif]">
            <h1 class="text-2xl text-gray-300">Total de Compras e Vendas </h1>
            <h2 class="text-lg text-gray-300 ml-4 mt-2"> Clique <a href="" class="underline text-yellow-400">Aqui</a> para ver todos os produtos minimos</h2>
        </article>
    </div>
</div>

{% endblock %}