{% extends "base.html" %}

{% block title %}Sistema de estoque WEB{% endblock title %}

{% block voltar %}
    <div class="grid flex w-12">
        <a href="{% url 'home' %}" class="inline-flex items-center gap-2 px-3 py-2 mb-4 text-md font-medium text-gray-800 bg-gray-100 rounded-lg hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4" />
            </svg>
                Voltar
        </a>
    </div>
{% endblock  %}

{% block content %}

    {% if produtos %}
    
    <!-- Tabela que imprime os produto na home -->

    <table class="w-full text-sm text-left text-gray-500 row-span-4 col-span-4 p-12">
        <thead class="text-xs text-gray-300 uppercase bg-gray-700 text-center ">
            <tr class="border">
                <!-- Titulos -->
                <th class="px-6 py-2 text-2xl" >Produto</th>
                <th class="px-6 py-2 text-2xl" >NCM</th>
                <th class="px-6 py-2 text-2xl" >Categoria</th>
                <th class="px-6 py-2 text-2xl" >Valor de estoque</th>
                <th class="px-6 py-2 text-2xl" >Estoque atual</th>
                <th class="px-6 py-2 text-2xl" >Estoque Minimo</th>
                <th class="px-6 py-2 text-2xl" >Entrada</th>
                <th class="px-6 py-2 text-2xl" >Saída</th>
                <th class="px-6 py-2 text-2xl" >Importado</th>
                <th class="px-6 py-2 text-2xl" >Deletar</th>
            </tr>
        </thead>
        <tbody class="text-center ">
            <!-- Produtos -->
            {% for produto in produtos %}
            <tr class="bg-gray-800 text-white hover:bg-gray-700 cursor-pointer"
                onclick="window.location.href='{% url 'show_produto' produto.id %}'">
                <td class="px-6 py-2 text-2xl">{{ produto.nome }}</td>
                <td class="px-6 py-2 text-2xl">{{ produto.ncm }}</td>
                <td class="px-6 py-2 text-2xl">{{ produto.categoria }}</td>
                <td class="px-6 py-2 text-2xl">R$ {{ produto.preco }}</td>
                <td class="px-6 py-2 text-2xl">{{ produto.estoqueAtual }}</td>
                <td class="px-6 py-2 text-2xl">{{ produto.estoqueMinimo }}</td>
                <td class="px-6 py-2 text-2xl">#</td>
                <td class="px-6 py-2 text-2xl">#</td>
                <td class="px-6 py-2 text-2xl">{{ produto.importado|yesno:"Sim,Não" }}</td>
                <td class="px-6 py-2 text-2xl">
                    <form method="POST" action="{% url 'delete_produto' %}" onsubmit="return confirm('Deseja excluir esse produto')">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ produto.id }}">
                        <button type="submit" onclick="event.stopPropagation();" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-3 rounded cursor-pointer">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% else %}
   <div class="flex items-center justify-center h-screen">
        <h1>Nenhum produto cadastrado</h1>
    </div>

    {% endif %}
    
<!-- Formulario de produto -->
    {% include "produto_forms.html" %}
  
{% endblock %}