<!-- Main modal -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-gray-700 rounded-lg shadow-sm ">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Edição de produto
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                <!-- Modal body -->
                <form method="POST" action="{% url 'editar_produto' %}" class="p-4 md:p-5">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="modal-id">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">Nome</label>
                            <input type="text" name="nome" id="modal-nome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type product name" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">NCM</label>
                            <input type="text" name="ncm" id="modal-ncm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type product name" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="category" class="block mb-2 text-sm font-medium text-white">Categoria</label>
                            <select id="modal-categoria-id" name="categoria"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                {% for c in categorias %}
                                    <option value="{{ c.id }}">{{ c.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-span-2 ">
                            <label for="price" class="block mb-2 text-sm font-medium text-white">Preço</label>
                            <input type="text" name="preco" id="modal-preco" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="$2999" required="">
                        </div>
                        
                        <div class="col-span-2 sm:col-span-1">
                            <label for="number" class="block mb-2 text-sm font-medium text-white">Quantidade</label>
                            <input type="number" name="estoqueAtual" id="modal-estoqueAtual" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">Quantidade</label>
                            <input type="text" name="estoqueMinimo" id="modal-estoqueMinimo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                        </div>
                    </div>
                     <div class="flex items-center mb-4">
                        <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Importado</label>
                        <input type="checkbox" id="modal-importado" name="importado"class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    </div>
                    <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Editar produto
                    </button>
                </form>
            </div>
        </div>
    </div> 

    <script>
        $(document).ready(function () {
            $('[data-modal-toggle="crud-modal"]').on('click', function () {
                const button = $(this);
    
                // Coleta os dados do botão
                const importado =  button.data('importado');
                const nome = button.data('nome');
                const ncm = button.data('ncm');
                const categoriaId = button.data('categoria-id');
                const preco = button.data('preco');
                const estoqueAtual = button.data('estoqueatual');
                const estoqueMinimo = button.data('estoqueminimo');
                const id = button.data('id');
               
                // Preenche os campos do modal
                $('#modal-id').val(id);
                $('#modal-nome').val(nome);
                $('#modal-ncm').val(ncm);
                $('#modal-categoria').val(categoriaId);
                $('#modal-preco').val(preco);
                $('#modal-estoqueAtual').val(estoqueAtual);
                $('#modal-estoqueMinimo').val(estoqueMinimo);
                $('#modal-importado').val(importado)

            });
        });
    </script>