{% extends "base.html" %}

{% block title %}Sistema de estoque WEB{% endblock title %}

{% block breadcrumb %} Produtos {% endblock %} 

{% block content %}

    {% if produtos %}
    
    <!-- Tabela que imprime os produto na home -->

    <table class="w-full text-sm text-left text-gray-500 row-span-4 col-span-4 p-12">
        <thead class="text-xs text-gray-300 uppercase bg-gray-700 text-center">
            <tr class="border">
                <!-- Titulos -->
                <th class="px-6 py-2" >Produto</th>
                <th class="px-6 py-2" >Categoria</th>
                <th class="px-6 py-2" >NCM</th>
                <th class="px-6 py-2" >Valor de estoque</th>
                <th class="px-6 py-2" >Estoque atual</th>
                <th class="px-6 py-2" >Estoque Minimo</th>
                <th class="px-6 py-2" >Entrada</th>
                <th class="px-6 py-2" >Saída</th>
                <th class="px-6 py-2" >Editar</th>
                <th class="px-6 py-2" >Deletar</th>
            </tr>
        </thead>
        <tbody class="text-center ">
            <!-- Produtos -->
            {% for produto in produtos %}
            <tr class="bg-gray-800 text-white">
                <td class="px-6 py-2" ><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td class="px-6 py-2" >{{ produto.categoria }}</td>
                <td class="px-6 py-2" >{{ produto.ncm }}</td>
                <td class="px-6 py-2" >R$ {{ produto.preco }}</td>
                <td class="px-6 py-2" >{{ produto.estoqueAtual }}</td>
                <td class="px-6 py-2" >{{ produto.estoqueMinimo }}</td>                
                <td class="px-6 py-2" > produto.entrada </td>
                <td class="px-6 py-2" > produto.saida </td>
                <td class="px-6 py-2" >
                    <!-- Modal toggle -->
                    <button class="text-white bg-blue-700 hover:bg-blue-800 font-semibold rounded px-3 py-1 " type="button" id="crud_modall"
                        data-modal-target="crud-modal"
                        data-modal-toggle="crud-modal"
                        data-id="{{ produto.id }}"
                        data-nome="{{ produto.nome }}"
                        data-ncm="{{ produto.ncm }}"
                        data-importado="{{produto.importado}}"
                        data-estoqueatual="{{ produto.estoqueAtual }}"
                        data-estoqueminimo="{{ produto.estoqueMinimo }}"
                        data-categoria-id="{{ produto.categoria.id}}"
                        data-preco="{{ produto.preco }}">
                        Editar
                    </button>
                <td class="px-6 py-2">
                    <form method="POST" action="{% url 'deletar_produto' %}" onsubmit="return confirm('Deseja excluir esse produto')">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{produto.id}}">
                        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-3 rounded">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% else %}
   <div class="flex items-center justify-center h-screen">
        <h1>Nenhum produto cadastrado</h1>
    </div>

    {% endif %}
    
<!-- Formulario de produto -->
    {% include "produto_forms.html" %}

<!-- Modal para editar produto -->
    {% include "produto_modal.html" %}
  
{% endblock %}