{% extends "base.html" %}

{% block title %} Adicionar nova compra {% endblock  %}

{% block breadcrumb %} Adicionar nova compra {% endblock %}

{% block content %}


<div class="col-span-2 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                </th>
                <th scope="col" class="px-6 py-3">
                    Produto
                </th>
                <th scope="col" class="px-6 py-3">
                    Fornecedor
                </th>
                <th scope="col" class="px-6 py-3">
                    Tipo de pagamento
                </th>
                <th scope="col" class="px-6 py-3">
                    Ver Compra
                </th>
            </tr>
        </thead>
        <tbody>
            {%for compra in compras%}
            <tr class="bg-gray-800 border-b border-gray-500 hover:bg-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{compra.notaFiscal}}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{compra.fornecedor.nome}}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{compra.tipoDePagamento.nome}}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="#">Ver mais</a>
                </td>
            </tr> 
            {% endfor%}
        </tbody>
    </table>
</div>

<div class=" bg-white rounded-lg shadow-sm p-4 w-full max-w-md mt-10 col-start-3 col-span-2 ">
    <form method="POST" action="" class="p-4 md:p-5">
        {% csrf_token %}
        <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
                <label for="nome1" class="block mb-1 text-sm font-medium text-gray-700 ">Nota fiscal</label>
                <input type="text" name="cod_barras" id="cod_barras" class="w-full p-2 border border-gray-300 rounded-lg text-sm bg-gray-50 focus:ring-blue-500 focus:border-blue-500" required="">
            </div>
            <div class="col-span-2">
                <label for="nome1" class="block mb-1 text-sm font-medium text-gray-700 ">Fornecedor</label>
                <input type="text" name="cod_barras" id="cod_barras" class="w-full p-2 border border-gray-300 rounded-lg text-sm bg-gray-50 focus:ring-blue-500 focus:border-blue-500" required="">
            </div>
            <div class="col-span-2">
                <label for="nome1" class="block mb-1 text-sm font-medium text-gray-700 ">Tipo de pagamento</label>
                <input type="text" name="cod_barras" id="cod_barras" class="w-full p-2 border border-gray-300 rounded-lg text-sm bg-gray-50 focus:ring-blue-500 focus:border-blue-500" required="">
            </div>
        </div>
    </form>
</div>
{% endblock  %}